{% extends 'base.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://kit.fontawesome.com/b102c16ea9.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container bg-g">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-10">
      <div class="card mt-0 shadow-lg">
        <div class="card-body">
          <div class="row" >
          <div class="col-md-6 mx-auto" id="pic">
            <img src="{% static 'images/sample.png' %}" alt="{{ user.username }}'s profile picture" class="img-fluid ">
          </div>
          <div class="col-md-6 my-5 px-5">
           <h1 class="card-title mt-5">Hi, I'm {{ user.username }}</h1>
           <p class="card-text text-muted my-5 me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit euismod lacus, id pretium orci iaculis a.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="mb-3 me-5 d-flex align-items-center justify-content-center">
            <a href="mailto:{{ user.email }}" class="btn btn-contact">GET IN TOUCH<i class="ms-3 fa-solid fa-envelope"></i></a>
          </div>
          <div class="mb-3 me-5 d-flex align-items-center justify-content-center">
            <a href="{{ user_profile.blog_site }}" target="_blank">
              <i class="fa-solid fa-blog fa-lg"></i>
            </a>
            <a href="{{ user_profile.github_address }}" target="_blank">
              <i class="fa-brands fa-github fa-lg"></i>
            </a>
            <a href="{{ user_profile.linkedin_address }}" target="_blank">
              <i class="fa-brands fa-linkedin fa-lg"></i>
            </a>
             <a href="{{ user_profile.twitter_address }}" target="_blank">
              <i class="fa-brands fa-twitter fa-lg"></i>
            </a>
             <a href="{{ user_profile.instagram_address }}" target="_blank">
              <i class="fa-brands fa-square-instagram fa-lg"></i>
            </a>
          </div>
          </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>

{% comment %} -- Need to figure out better display structure.
<h3>Submissions</h3>
<ul>
  {% for story in user_stories %}
  <li>
    <a href="{{ story.url }}">{{ story.title }}</a> {{ story.created_at|date:"Y-m-d"}}
  </li>
  {% empty %}
  <li>No submissions yet.</li>
  {% endfor %}
</ul>
{% endcomment %}

{% comment %} -- Need to figure out better display structure.
<h3>Comments</h3>
<ul>
  {% for comment in user_comments %}
  <li>
    {{ comment.text }} ({{ comment.created_at|date:"Y-m-d" }})
    <br>
    On story: <a href="{{ comment.story.url }}">{{ comment.story.title }}</a>
  </li>
  {% empty %}
  <li>No comments yet.</li>
  {% endfor %}
</ul>
{% endcomment %}
{% endblock %}
