<header>
  {% load static %}
<!--Add icons and fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://kit.fontawesome.com/b102c16ea9.js" crossorigin="anonymous"></script>
<!-- icons and fonts above-->
  <nav class="nav bg-info h6">
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}"><img src="{% static 'images/LOGO_48.png' %}"
          alt="]\[" width="36"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?category=ask">Ask</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?category=jobs">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?order_by=new">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:submit' %}">Submit</a>
    </li>
    <!-- Search Bar --->
      <form action="{% url 'stories:search' %}" method="get" class="mx-auto d-flex">
        <input class="form-control me-2" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
      </form>
      <!-- User name and Login/Logout -->
      <ul class="nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:profile' request.user.username %}">{{ request.user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
  </nav>
</header>
