<header>
  {% load static %}
  <nav class="nav bg-info h6">
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}"><img src="{% static 'images/LOGO_48.png' %}"
          alt="]\[" width="36"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?category=ask">Ask</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?category=jobs">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:home' %}?order_by=new">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'stories:submit' %}">Submit</a>
    </li>
    <!-- Search Bar --->
      <form action="{% url 'stories:search' %}" method="get" class="mx-auto d-flex">
        <input class="form-control me-2" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
      <!-- User name and Login/Logout -->
      <ul class="nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:profile' user.id %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'users:login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
  </nav>
</header>
