{% for comment in comments %}
<div class="comment" style="margin-left: {{ level|default:0 }}px;">
  <form method="post" action="{% url 'stories:upvote_comment' comment.id %}" style="display: inline;">
    {% csrf_token %}
    <p class="text-muted"><button type="submit" class="btn btn-outline-info btn-sm">Upvote</button>
      {{ comment.upvotes }} votes | {{ comment.user.username }} | {{ comment.created|timesince }} ago</p>
  </form>
  <a href="#reply" onclick="document.getElementById('parent_comment').value={{ comment.id }};">Reply | </a>
  <p style="inline-block;">{{ comment.text }}</p>

</div>
{% with comment.replies.all as replies %}
{% if replies %}
{% include 'stories/comment_tree.html' with comments=replies level=level|default:20|add:20 %}
{% endif %}
{% endwith %}
{% endfor %}
