{% for comment in comments %}
<div class="comment" style="margin-left: {{ level|default:0 }}px;">
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <span class="upvote-button" onclick="location.href='{% url 'stories:upvote_comment' comment.id %}'"></span>
        <span class="text-muted ms-2">{{ comment.votes }} votes | <a class="link-muted"
            href="{% url 'users:profile' comment.user.username %}">{{ comment.user.username }}</a> |
          {{comment.created|timesince }} ago</span>
        <button type="button" class="btn btn-outline-secondary btn-sm ms-3"
          onclick="document.getElementById('parent_comment').value={{ comment.id }}; document.getElementById('reply').scrollIntoView({ behavior: 'smooth' });">Reply</button>
      </div>
      <p class="mt-1">{{ comment.text }}</p>
    </div>
  </div>
  {% with comment.replies.all as replies %}
  {% if replies %}
  {% include 'stories/comment_tree.html' with comments=replies level=level|default:20|add:20 %}
  {% endif %}
  {% endwith %}
</div>
{% endfor %}
