{% extends 'base.html' %}
{% block extra_head %}
{% load bootstrap5 %}

{% load static %}
<link rel="stylesheet" href="{% static 'simplemde/simplemde.min.css' %}">
<script src="{% static 'simplemde/simplemde.min.js' %}"></script>
<script>
        const tagsInput = document.getElementById("id_tags");

        tagsInput.addEventListener("input", function (event) {
            const query = event.target.value.split(",").pop().trim();
            if (query.length >= 1) {
                fetch("/search_tags/?query=" + query)
                    .then((response) => response.json())
                    .then((tags) => {
                        let suggestions = "";
                        tags.forEach((tag) => {
                            suggestions += `<button type="button" class="list-group-item list-group-item-action">${tag.name}</button>`;
                        });
                        document.getElementById("tag-suggestions").innerHTML = suggestions;

                        const suggestionItems = document.querySelectorAll("#tag-suggestions button");
                        suggestionItems.forEach((item) => {
                            item.addEventListener("click", function () {
                                const existingTags = tagsInput.value.split(",").slice(0, -1).map(tag => tag.trim());
                                existingTags.push(item.textContent);
                                tagsInput.value = existingTags.join(", ");
                                document.getElementById("tag-suggestions").innerHTML = "";
                            });
                        });
                    });
            } else {
                document.getElementById("tag-suggestions").innerHTML = "";
            }
        });
</script>
{% endblock %}
{% block content %}
<h3 class="fw-bold mx-5 mt-4 text-black-50">Create New Post</h3>
<form method="post" class="form mx-5 my-3 d-grid gap-2">
  {% csrf_token %}
  {% bootstrap_form form layout="inline" %}
<div id="tag-suggestions" class="list-group shadow"></div>
  <button class="btn btn-primary" style="width:100px;" type="submit">Submit</button>
</form>
{% endblock %}
