{% extends 'base.html' %}
{% block extra_head %}
{% load bootstrap5 %}
{% load static %}
<link rel="stylesheet" href="{% static 'simplemde/simplemde.min.css' %}">
<script src="{% static 'simplemde/simplemde.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        new SimpleMDE({element: document.getElementById("id_text")});
    });
</script>
{% endblock %}
{% block content %}
<h2>Submint a Story</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <h3>Create a new category (optional)</h3>
  {{ category_form.as_p }}

  <h3>Create a new tag (optional)</h3>
  {{ tag_form.as_p }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
