{% extends 'base.html' %}
{% load story_tags %} 

{% block header %}
<h1>Welcome to A2L</h1>
{% endblock %}

{% block content %}
<h2>Latest Stories</h2>
<ul>
  {% for story in stories %}
  <li>
    <a href="{{ story.url }}">{{ story.title }}</a> by {{ story.user.username }}
    <br>
    <small>{{ story.upvotes }} points | {{ story.created|timesince }} ago | {{ story.tags.all|first_two_tags }}
    <a href="{% url 'stories:story_detail' story.id %}">Comments ({{ story.num_comments }})</a></small>
  </li>
  {% endfor %}
</ul>
<div class="pagination">
  <span class="step-links">
    {% if stories.has_previous %}
        <a href="?page=1{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">&laquo; first</a>
        <a href="?page={{ stories.previous_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ stories.number }} of {{ stories.paginator.num_pages }}.
    </span>

    {% if stories.has_next %}
        <a href="?page={{ stories.next_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">next</a>
        <a href="?page={{ stories.paginator.num_pages }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">last &raquo;</a>
    {% endif %}
  </span>
<form action="" method="get" class="page-jump-form">
    <label for="page">Jump to page:</label>
    <input type="number" name="page" id="page" min="1" max="{{ stories.paginator.num_pages }}" value="{{ stories.number }}">
    {% if order_by %}
    <input type="hidden" name="order_by" value="{{ order_by }}">
    {% endif %}
    {% if category_filter %}
    <input type="hidden" name="category" value="{{ category_filter }}">
    {% endif %}
    <button type="submit">Go</button>
  </form>
</div>
{% endblock %}

{% block footer %}
<p>Footer information, such as links to About, Contact, and Help pages, etc.</p>
{% endblock %}
