{% extends 'base.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container cards">
  {% for story in stories %}
    <div class="card border-1" >
      <div class="card-header d-flex">
        <span class="card-no me-2 text-muted">{{ forloop.counter }}.</span>
        <span class="upvote-button" onclick="location.href='{% url 'stories:upvote_story' story.id %}'"></span>
        <a href="{% url 'stories:story_detail' story.id %}" class="card-title text-dark text-decoration-none">
            {{ story.title }}</a>
      </div>
        <div class="card-footer">
          <span class="card-data bg-transparent text-muted small lh-1">
            {{ story.votes }} points | {{ story.created|timesince }} ago | <mark>{{ story.tags_new.all|join:", " }}</mark> | {{ story.user.username }} | Comments ({{ story.num_comments }})
          </span>
        </div>
      </div>
  {% endfor %}
</div>

{% with current_page=stories.number num_pages=stories.paginator.num_pages %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if stories.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ stories.previous_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
        </li>
      {% endif %}

      {% for i in stories.paginator.page_range %}
        {% if i >= current_page|add:-5 and i <= current_page|add:4 %}
          {% if stories.number == i %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">{{ i }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if stories.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ stories.next_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endwith %}

{% endblock %}

{% block footer %}
  <p>Footer information, such as links to About, Contact, and Help pages, etc.</p>
{% endblock %}
