{% extends 'base.html' %}
{% load bootstrap5 %}
{%  block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/story_detail.css' %}">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% load markdown_extras %}
{% endblock %}

{% block content %}
  <div class="story">
    <div class="story-detail">
      <div class="d-flex justify-content-between align-items-center">
      <h1 class="mt-4 mb-3">{{ story.title }}</h1> 
        {% if is_owner %}
        <a href="{% url 'stories:edit_story' story.id %}" class="btn btn-outline-secondary">Edit</a>
        {% endif %}
      </div>
      <p class="text-muted">
      <a class="link-muted" href="{% url 'users:profile' story.user.username %}">{{ story.user.username }}</a>
      | {{ story.created|timesince }} ago | {{ story.category.name }}</p>
      <p class="text-muted">Tags: {{ story.tags.all|join:", " }}</p>
      <hr>
      {% if story.url %}
       <p><a href="{{ story.url }}">External Link</a></p>
      {% endif %}
      <div class="story-content mb-4">
        {{ story.text|markdown|safe }} 
      </div>
      <hr>
      <h5 id="comments" class="mb-4">Comments ({{ story.num_comments }})</h5>
      {% include 'stories/comment_tree.html' with comments=root_comments %}
    </div>
 
    <div class="story-add-comment">
     <hr>
     <h5 id="reply" class="mb-4">Add a comment</h3>
     <form method="POST" action="{% url 'stories:add_comment' story.id %}">
       {% csrf_token %}
       {% bootstrap_form form %}
       <input type="hidden" id="parent_comment" name="parent_comment" value="">
       <button type="submit" class="btn btn-primary">Submit</button>
     </form>
     </div>
  </div>
{% endblock %}

{% block footer %}
  <p>Footer information, such as links to About, Contact, and Help pages, etc.</p>
{% endblock %}
