{% extends 'base.html' %}

{% block content %}
<h1>{{ story.title }}</h1>
<p>By {{ story.user.username }} | {{ story.created|timesince }} ago | {{ story.category.name }}</p>
<p>{{ story.text }}</p>
<p>Tags: {{ story.tags.all|join:", " }}</p>
{% if story.url %}
<p><a href="{{ story.url }}">External Link</a></p>
{% else %}
<p>{{ story.text }}</p>
{% endif %}

<hr>

<h3 id="comments">Comments ({{ story.num_comments }})</h3>
{% include 'stories/comment_tree.html' with comments=root_comments %}

<h3 id="reply">Add a comment</h3>
<form method="POST" action="{% url 'stories:add_comment' story.id %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" id="parent_comment" name="parent_comment" value="">
  <button type="submit">Submit</button>
</form>
{% endblock %}
